@import url("https://fonts.googleapis.com/css?family=Amatic+SC");


:root {
    --pMiddle: 4rem;
}
html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
  }

  .panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  .panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
  .panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
  .panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
  .panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
  .panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

  /* Flex Children */
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
  }

  .panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
    transition: 1.5s;
  }
  
  .panel p:nth-child(2) {
    font-size: var(--pMiddle);
  }

  .closed {
    display: none;
  }

  .openPanelOne {
    display: block;
    position: relative;
    top: 80px;
    animation-name: moveDown;
    animation-duration: 3s;
    z-index: 1;
    }

  .openPanelTwo {
    display: block;
    position: relative;
    bottom: 80px;
    animation-name: moveUp;
    animation-duration: 3s;
  }

  .closePanelOne {
    position: relative;
    animation-name: moveUpAndOut;
    animation-duration: 1.5s;
  }

  .closePanelTwo {
    position: relative;
    animation-name: moveDownAndOut;
    animation-duration: 1.5s;
  }

  .panel.open {
    font-size: 40px;
  }

  @keyframes moveDown {
    0% { top: 0px}
    100% {top: 80px}
  }

  @keyframes moveUpAndOut {
    0% { top: 80px}
    100% {top: 0px}
  }

  @keyframes moveUp {
    0% {bottom:  0px;}
    100% {bottom: 80px;}
  }

  @keyframes moveDownAndOut {
    0% {bottom: 80px;}
    100% {bottom: 0px;}
  }

